/*body {
    display: flex;
    flex-direction: column;
    flex: 1;
}*/

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightblue;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    padding: 0 10px;
}

.section-one {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 100px 20px;
}

.section-one-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 500px;
    background-color: gray;
}